<ul>

    <li>
      <strong>text:</strong> <%= messages[id].text %> |
      <strong>user:</strong> <%= messages[id].user %> |
      <strong>added:</strong> <%= messages[id].added %>
    </li>

</ul> 